* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 110px;

    background-color: #b2b2b2;
}

.homeButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: #b2b2b2;
    outline-color: black;
}

.AmongUs {
    position: absolute;
    left: 10px;
    top: 125px;

    width: 240px;
    height: 160px;
}
.Minecraft {
    position: absolute;
    left: 260px;
    top: 125px;

    width: 240px;
    height: 160px;
}
.BaguetteClicker {
    position: absolute;
    left: 510px;
    top: 125px;

    width: 240px;
    height: 160px;
}
